<div class="pt-16 md:pt-20" />
<.deco path={~p"/images/deco-wave-1.svg"} />
<div class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md">
    <div class="mt-4" />
    <.header_1 top_padding?={false} center?={true}>
      Kontakt
    </.header_1>
    <div class="my-8">
      <.contact_details full?={true} />
    </div>
  </div>
</div>
